{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
    <div class="container">
        
        <!--begin::Toolbar-->
        <div class="d-flex" style="display: flex ! important; justify-content: flex-end ! important;">
            <!--begin::Dropdown-->
            <div style="margin-right: 2%;">
                <button  onclick="modal_driver(`{% url 'reglages_drivers'%}`)" type="button"  class="btn" id="modal_driver_button" class="btn" style="background: -webkit-linear-gradient(to right, #f5af19, #f12711); background: linear-gradient(to right, #f5af19, #f12711);
                color: black; border-radius: 8px; background-repeat: no-repeat;">
                    Launch demo modal
                </button>  
            </div>
            <div class="dropdown dropdown-inline ml-2">
                <input type="button" class="btn btn-white font-weight-bold py-3 px-6" value="Back" onclick="history.back()">
            </div>
 
            <!--end::Dropdown-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>


{% include 'reglages/load_ajax/modal/modal_driver.html' %}

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-custom" id="my_drivers">
                    <div class="card-header">
                        <h3 class="card-title">Drivers
                        </h3>
                    </div>
                    <!--begin::Form-->
                    <div class="card-body">
                        {% for driver in drivers%}
                        <div class="form-group row" style="width: 130%;">
                            <div class="col-10" style="display: flex; justify-content: space-between; align-items: center;">
                                <h2 style="cursor: pointer;" onclick="show_data_driver(`{{driver.id}}`, `{% url 'reglages_drivers'%}`)" id='{{driver.id}}'>{{driver.number}} | {{driver.team.name}} | {{driver.name}} {{driver.last_name}} </h2>
                                <button class="btn" class="delete_driver_buttton" onclick="delete_driver(`{{driver.id}}`, `{% url 'reglages_drivers'%}`)" id='{{driver.id}}'>
                                    <span class="svg-icon svg-icon-xl svg-icon-danger">
                                        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-03-183419/theme/html/demo2/dist/../src/media/svg/icons/Home/Trash.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"/>
                                                <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>     
            </div>
            <div class="col-md-6">
                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title">
                            Add / edit
                        </h3>
                    </div>
                    <!--begin::Form-->
                    
                    <div class="card-body">
                        <form id="form_group">
                            {% csrf_token %}
                            <input type="hidden" id="driver_id_form">
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" type="text" name="driver_name_form" id="driver_name_form" value="{{name}}" placeholder="name"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" type="text" name="driver_last_name_form" id="driver_last_name_form" value="{{last_name}}" placeholder="Last Name"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" type="text" name="driver_nationality_form" id="driver_nationality_form" value="{{nationality}}" placeholder="country"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" type="number" name="driver_age_form"  id="driver_age_form" value="{{age}}" placeholder="age"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-5">
                                    <input class="form-control" type="date" name="driver_date_of_birth_form" id="driver_date_of_birth_form" value="{{date_of_birth}}" placeholder="Birthday"/>
                                </div>
                                <div class="col-5">
                                    <input class="form-control" type="number" name="driver_number_form" id="driver_number_form" value="{{number}}" placeholder="number"/>
                                </div>
                                <div class="col-5">
                                    <p class="form-control" type="number" name="driver_number_form" id="driver_id" value=""  style="visibility: hidden;"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                
                                <div class=" col-10 form-group">
                                    <label>Team</label>
                                    <select class="form-control form-control-solid" id="driver_team_form" name="driver_team_form">
                                        {% for team in teams %}
                                        <option  value='{{team.id}}'>{{team.name}}</option>
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-10 d-flex align-items-center">
                                        <button type="submit" name="submit_form" id="submit_form_driver" class="btn mr-2" style="background-color: #F11E25; opacity: 0.85; ">Submit</button>
                                        <button type="button" name="modify_form_driver" id="modify_form_driver" onclick="update_driver(`{% url 'reglages_drivers'%}`)" class="btn mr-2" style="background-color: #2EF2F2; opacity: 0.85; display: none;">Modify</button>
                                        <button type="reset" class="btn btn-secondary" id="cancel_form_driver">Cancel</button>
                                    </div>
                                </div>
                            </div>   
                        </form>
                    </div>
                </div>                   
            </div>
            
        </div>
    </div>
</div>

<!-- <script
src="https://code.jquery.com/jquery-2.2.4.js"
integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
crossorigin="anonymous">
</script> -->

<script src="{% static '/js/reglages/drivers.js' %}"></script>
<script>
    $(document).ready(add_driver(`{% url 'reglages_drivers'%}`));
</script>

{% endblock content %}