{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}
<div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
    <div class="container">

        <!--begin::Toolbar-->
        <div class="d-flex" style="display: flex ! important; justify-content: flex-end ! important;">
            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline ml-2">
                <form>
                    <input type="button" class="btn btn-white font-weight-bold py-3 px-6" value="Back" onclick="history.back()">
                </form>
            </div>
            <!--end::Dropdown-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title">Teams</h3>
                    </div>
                    <!--begin::Form-->
                    <div class="card-body">
                        {% for team in teams%}
                        <div class="form-group row">
                            <div class="col-10 ">
                                <h2>{{team.name}}  {{team.nationality}} </h2>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>     
            </div>
            <div class="col-md-6">
                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title">
                            Add / edit
                        </h3>
                    </div>
                    <!--begin::Form-->
                    <form>
                        <div class="card-body">
                            <form method="POST" id="form_group">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input class="form-control" type="text" value="{{name}}" placeholder="name"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input class="form-control" type="text" value="{{nationality}}" placeholder="country"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input class="form-control" type="text" value="{{point}}" placeholder="point"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input class="form-control" type="text" value="{{standing}}" placeholder="standing"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-10">
                                    <button type="submit" name="submit_form" class="btn btn-success mr-2">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                   
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}