{% load static %}
<style>
    .svg-icon.svg-icon-primary svg g [fill] {
    -webkit-transition: fill .3s ease;
    transition: fill .3s ease;
    fill: #bfbfbf!important;
}

</style>
<div class="header header-fixed" style="background-color: #26282E;">
    <!--begin::Container-->
    <div class="container d-flex align-items-stretch justify-content-between">
        <!--begin::Left-->
        <div class="d-flex align-items-stretch mr-3">
            <!--begin::Header Logo-->
            <div class="header-logo">
                <a href="{% url 'index' %}">
                    <img alt="Logo" src="{% static '/img/F1_logo_image.png' %}" class="logo-default max-h-40px">
                </a>
            </div>
            <!--end::Header Logo-->
            <div class="header-menu-wrapper header-menu-wrapper-left">
                <!--begin::Header Menu-->
                <div class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                    <!--begin::Header Nav-->
                    <ul class="menu-nav">
                        <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true" >
                            <a href="{% url 'page_drivers' %}" class="menu-link menu-toggle"><span class="menu-text">Drivers</span></a>
                        </li>
                        <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true" style="padding-left: 2%;">
                            <a href="#" class="menu-link menu-toggle"><span class="menu-text">Teams</span></a>
                        </li>
                        <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel" style="width: 113px;">
                            <a href="#" class="menu-link menu-toggle"><span class="menu-text">Grand Prix</span></a>
                        </li>
                        <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel" style="width: 113px;">
                            <a href="{% url 'module_image' %}" class="menu-link menu-toggle"><span class="menu-text">Module image</span></a>
                        </li>
                    </ul>
                    <!--end::Header Nav-->
                </div>
                <!--end::Header Menu-->
            </div>
        </div>
        <!--end::Left-->
        <!--begin::Topbar-->
        <div class="topbar">
            <div class="dropdown">
                <div class="topbar-item">
                    <a href="{% url 'reglages' %}">
                        <span class="svg-icon svg-icon-primary svg-icon-2x">
                            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-04-19-122603/theme/html/demo2/dist/../src/media/svg/icons/General/Settings-2.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#30303030"/>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>